#root {
  max-width: 1600px;
  text-align: center;
  width: 800px;
  margin: auto;
}
#contenitore{
  text-align: center;
  width: 100%;
  height: auto;
  background-color: rgb(192, 215, 223);
}
 Header{
  width: 100%;
  display: block;
}
Body{
  width: 100%;
  display: block;
}
#contenitoreFooter{
  width: 100%;
  display: block;
  background-color: brown;
}
