#root {
  max-width: 1600px;
  text-align: center;
}
#contenitore{
  text-align: center;
  width: 100%;
  height: auto;
  background-color: rgb(192, 215, 223);
}
#headerApp{
  width: 100%;
  display: block;
}
Body{
  width: 100%;
  display: block;
}
Footer{
  width: 100%;
  display: block;
}
